<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open.chitchat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CommonStyle" >
        <activity
            android:name="com.open.chitchat.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.open.chitchat.LoginMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.RegisterStepOneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.RegisterStepTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.RegisterStepThreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.RegisterStepFourActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.RegisterStepFiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.RegisterStepSixActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.ResetPasswordStepOneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.ResetPasswordStepTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.ResetPasswordStepThreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name="com.open.chitchat.ExplainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
    </application>

</manifest>