<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open.chitchat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CommonStyle" >
        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".RegisterStepOneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".RegisterStepTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".RegisterStepThreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".RegisterStepFourActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".RegisterStepFiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".RegisterStepSixActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".ResetPasswordStepOneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".ResetPasswordStepTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".ResetPasswordStepThreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".ExplainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".ChooseCountryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonStyle"
            android:windowSoftInputMode="adjustResize" >
        </activity>
    </application>

</manifest>